.calculator {
  background: linear-gradient(
    115deg,
    var(--bg-gradient-first) 0%,
    var(--bg-gradient-second) 100%
  );

  & *,
  & *:after,
  & *:before {
    transition: all 0.2s ease !important;
  }

  &__output {
    background-color: var(--output-bg);
    border: 0.1rem solid var(--color-border);

    padding: 0 3%;
    word-wrap: break-word;
    word-break: break-all;
  }

  &__output-text {
    font-weight: bold;
  }
}

.btn {
  background-color: var(--btn-bg);
  color: var(--btn-text-color);
  font-size: 2.5rem;
  border: 0.1rem solid var(--color-border);

  &:hover {
    cursor: pointer;
    color: var(--btn-text-hover-color);
    background-color: var(--btn-bg-hover-color);
  }

  &:active {
    animation-name: scale-text;
    animation-duration: 200ms;
  }
}

@media screen and (max-width: 540px) {
  .calculator {
    .btn {
      &:hover {
        color: var(--btn-text-color);
        background-color: var(--btn-bg);
      }

      &:active {
        color: var(--btn-text-hover-color);
        background-color: var(--btn-bg-hover-color);
      }
    }
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  .calculator {
    .btn {
      &:hover {
        color: var(--btn-text-color);
        background-color: var(--btn-bg);
      }

      &:active {
        color: var(--btn-text-hover-color);
        background-color: var(--btn-bg-hover-color);
      }
    }
  }
}

@keyframes scale-text {
  0% {
    font-size: 2.8rem;
  }
  50% {
    font-size: 2rem;
  }
  100% {
    font-size: 2.8rem;
  }
}

button {
  font-size: 2.8rem;
}

// crazy selecting :D
[data-operation] {
  font-size: 3rem;
}

[data-all-clear]:hover {
  background: linear-gradient(
    145deg,
    var(--color-red) -20%,
    var(--all-clear-bg-hover-color-second) 123%
  );
}

@media screen and (max-width: 540px) {
  [data-all-clear]:hover {
    background: none;
  }

  [data-all-clear]:active {
    background: linear-gradient(
      145deg,
      var(--color-red) -20%,
      var(--all-clear-bg-hover-color-second) 123%
    );
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  [data-all-clear]:hover {
    background: none;
  }

  [data-all-clear]:active {
    background: linear-gradient(
      145deg,
      var(--color-red) -20%,
      var(--all-clear-bg-hover-color-second) 123%
    );
  }
}

[data-result] {
  color: var(--result-text-color);
  font-size: 3rem;
}

[data-math] {
  color: var(--math-text-color);
  font-size: 1.6rem;
}

[data-equals]:hover {
  background: linear-gradient(
    145deg,
    var(--color-green) 0%,
    var(--equals-bg-hover-color-second) 95%
  );
}

@media screen and (max-width: 540px) {
  [data-equals]:hover {
    background: none;
  }

  [data-equals]:active {
    background: linear-gradient(
      145deg,
      var(--color-green) 0%,
      var(--equals-bg-hover-color-second) 95%
    );
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  [data-equals]:hover {
    background: none;
  }

  [data-equals]:active {
    background: linear-gradient(
      145deg,
      var(--color-green) 0%,
      var(--equals-bg-hover-color-second) 95%
    );
  }
}
