:root {
  --color-red: #b60000;
  --color-green: #00a308;
  --color-white: #fff;
  --color-black: #000000;
  --color-orange: #ff6600;
  --bg-gradient-first: #22ddf2;
  --bg-gradient-second: #2175bf;
  --output-bg: #22ddf255;
  --result-text-color: #fff;
  --math-text-color: #d3d3d3b2;
  --color-border: #d9d5d2;
  --btn-bg: #1c418c54;
  --btn-text-color: #22ddf2;
  --btn-text-hover-color: #1c418c;
  --btn-bg-hover-color: #22ddf255;
  --all-clear-bg-hover-color-second: #22ddf2;
  --equals-bg-hover-color-second: #22ddf2;
  --switch-color-text: #2f2f2f;
  --border-switch-color: #1c418c;
  --switch-bg: #fff;
  --creator-text-color: #2f2f2f;
}

.dark-theme {
  --bg-gradient-first: #000000;
  --bg-gradient-second: #1c418c;
  --output-bg: #22ddf255;
  --result-text-color: #fff;
  --math-text-color: #d3d3d3b2;
  --color-border: #1c418c;
  --btn-bg: #1c418c54;
  --btn-text-color: #22ddf2;
  --btn-text-hover-color: #1c418c;
  --btn-bg-hover-color: #22ddf255;
  --all-clear-bg-hover-color-second: #1c418c54;
  --equals-bg-hover-color-second: #1c418c54;
  --switch-color-text: #2f2f2f;
  --border-switch-color: #ff6600;
  --switch-bg: #ff6600;
  --creator-text-color: #2f2f2f;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Lora", serif;
  font-size: 1.6rem;
}

.calculator {
  position: relative;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 7rem);
  grid-template-rows: minmax(10rem, auto) repeat(5, 7rem);
}
.calculator .span-two {
  grid-column: span 2;
}
.calculator__output {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}
.calculator .creator {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: var(--creator-text-color);
}

.calculator {
  background: linear-gradient(115deg, var(--bg-gradient-first) 0%, var(--bg-gradient-second) 100%);
}
.calculator *, .calculator *:after, .calculator *:before {
  transition: all 0.2s ease !important;
}
.calculator__output {
  background-color: var(--output-bg);
  border: 0.1rem solid var(--color-border);
  padding: 0 3%;
  word-wrap: break-word;
  word-break: break-all;
}
.calculator__output-text {
  font-weight: bold;
}

.btn {
  background-color: var(--btn-bg);
  color: var(--btn-text-color);
  font-size: 2.5rem;
  border: 0.1rem solid var(--color-border);
}
.btn:hover {
  cursor: pointer;
  color: var(--btn-text-hover-color);
  background-color: var(--btn-bg-hover-color);
}
.btn:active {
  animation-name: scale-text;
  animation-duration: 200ms;
}

@media screen and (max-width: 540px) {
  .calculator .btn:hover {
    color: var(--btn-text-color);
    background-color: var(--btn-bg);
  }
  .calculator .btn:active {
    color: var(--btn-text-hover-color);
    background-color: var(--btn-bg-hover-color);
    animation-name: scale-text;
    animation-duration: 200ms;
  }
}
/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  .calculator .btn:hover {
    color: var(--btn-text-color);
    background-color: var(--btn-bg);
  }
  .calculator .btn:active {
    color: var(--btn-text-hover-color);
    background-color: var(--btn-bg-hover-color);
    animation-name: scale-text;
    animation-duration: 200ms;
  }
}
@keyframes scale-text {
  0% {
    font-size: 2.8rem;
  }
  50% {
    font-size: 2rem;
  }
  100% {
    font-size: 2.8rem;
  }
}
button {
  font-size: 2.8rem;
}

[data-operation] {
  font-size: 3rem;
}

[data-all-clear]:hover {
  background: linear-gradient(145deg, var(--color-red) -20%, var(--all-clear-bg-hover-color-second) 123%);
}

@media screen and (max-width: 540px) {
  [data-all-clear]:hover {
    background: none;
  }

  [data-all-clear]:active {
    background: linear-gradient(145deg, var(--color-red) -20%, var(--all-clear-bg-hover-color-second) 123%);
  }
}
/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  [data-all-clear]:hover {
    background: none;
  }

  [data-all-clear]:active {
    background: linear-gradient(145deg, var(--color-red) -20%, var(--all-clear-bg-hover-color-second) 123%);
  }
}
[data-result] {
  color: var(--result-text-color);
  font-size: 3rem;
}

[data-math] {
  color: var(--math-text-color);
  font-size: 1.6rem;
}

[data-equals]:hover {
  background: linear-gradient(145deg, var(--color-green) 0%, var(--equals-bg-hover-color-second) 95%);
}

@media screen and (max-width: 540px) {
  [data-equals]:hover {
    background: none;
  }

  [data-equals]:active {
    background: linear-gradient(145deg, var(--color-green) 0%, var(--equals-bg-hover-color-second) 95%);
  }
}
/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  [data-equals]:hover {
    background: none;
  }

  [data-equals]:active {
    background: linear-gradient(145deg, var(--color-green) 0%, var(--equals-bg-hover-color-second) 95%);
  }
}
.switch {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  grid-column: 1/-1;
  justify-self: center;
  padding: 1rem;
}
.switch__label {
  color: var(--switch-color-text);
  cursor: pointer;
  padding-right: 0.8rem;
}
.switch__input {
  position: relative;
  background: white;
  width: 25px;
  height: 15px;
  -webkit-appearance: initial;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  font-size: 1.3rem;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 1.5px solid var(--border-switch-color);
}
.switch__input:after {
  position: absolute;
  display: block;
  line-height: 32px;
  width: 46%;
  height: 100%;
  background: #fff;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease-in 0s;
  color: black;
  border: #888 1px solid;
}
.switch__input:after {
  content: "";
}
.switch__input:checked:after {
  background-color: var(--switch-bg);
  left: 53%;
  content: "";
}

/*# sourceMappingURL=style.css.map */
